---
import '@/styles/theme.css'
import '@/styles/blog.css'
import { PostModel } from '@/models'
import { getPosts, getTags } from '@/utils'
import BaseHead from '@/components/BaseHead.astro'
import BlogWidgets from '@/components/BlogWidgets.astro'
import BlogList from '@/components/BlogList.astro'

interface Props {
  allPosts: PostModel[]
  posts: PostModel[]
}

export async function getStaticPaths (): Promise<any> {
  const allMarkdownPosts = await Astro.glob<any>('../**/*.mdx')

  const posts = getPosts(allMarkdownPosts)
  const tags = getTags(posts).map(tag => ({
    params: { tag: tag.slug },
    props: { allPosts: posts, posts: posts.filter(post => post.tags.includes(tag.tag)) }
  }))

  return tags
}

const { tag } = Astro.params
const { allPosts, posts } = Astro.props

const title = `Tag:${tag as string} - Guilherme Nicolini Blog`
const description = 'Guilherme Nicolini Blog'
const url = 'https://guilhermenicolini.com.br'
---

<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
  <BaseHead {title} {description} {url} />
</head>
<body>
  <BlogWidgets />
  <BlogList allPosts={allPosts} posts={posts} />
</body>
</html>
