---
import '@/styles/normalize.css'
import '@/styles/theme.css'
import '@/styles/blog.css'

import BaseHead from '@/components/BaseHead.astro'
import BlogHeader from '@/components/BlogHeader.astro'

const title = 'Guilherme Nicolini Blog'
const description = 'Guilherme Nicolini Blog'
const url = '/'
---

<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
  <BaseHead {title} {description} {url} />
</head>
<body>
  <BlogHeader {title} {url} />
</body>
</html>
