---
import BlogLabels from '@/components/BlogLabels.astro'
const { title, description, tags, date, url } = Astro.props

const dateFormatter = new Intl.DateTimeFormat('pt-BR', {
  timeZone: 'UTC',
  month: 'long',
  year: 'numeric',
  day: 'numeric'
})

---
<article class="blog-preview">
  <header>
    <a href={url}>
      <h1 class="title">{title}</h1>
    </a>
    <p class="date">{dateFormatter.format(date)}</p>
    <BlogLabels labels={tags} />
  </header>
  <p class="description">{description}</p>
  <a href={url}>Leia mais</a>
</article>

<style>
  .blog-preview {
    padding-bottom: 2rem;
  }

  .blog-preview header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    text-align: left;
  }

  .blog-preview header .title {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }

  .blog-preview header .date {
    margin: 0;
    font-size: 1rem;
    color: var(--theme-text-light);
  }

  .blog-preview .description {
    color: var(--theme-text-light);
  }

  .blog-preview .labels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
  }
</style>
